@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/*BODY*/
body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  cursor: pointer;
}

/*Работа с MAIN*/
.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

/*Навигационные штучки*/
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: -5px 0 10px -5px rgb(151 143 143 / 50%),
    5px 0 10px -5px rgb(151 143 143 / 50%);
}

.navigation-list,
.navigation-user,
.navigation-logo {
  margin: 0;
  padding: 0;
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-left: 70px;
  margin-right: 28px;
  z-index: 1;
  position: relative;
  margin-bottom: -6px;
}

.main-header-logo {
  display: block;
}



.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 452px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 338px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  left: 16px;
  right: 16px;
  top: 63px;
  height: 2px;
  background-color: #756257;
  box-sizing: border-box;
  z-index: 1;
}

.navigation-user-link {
  display: block;
  position: relative;
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user-link-like::before {
  content: attr(data-count) "";
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 16%;
  left: 44%;
  z-index: 1;
  transform: translate(4px, 5px);
  box-sizing: border-box;
}

.navigation-user-link-like::after {
  content: "";
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 44%;
  box-sizing: border-box;
}

.navigation-button {
  display: inline-block;
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}


.navigation-button:active {
  color: rgba(143, 136, 136, 0.3);
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
}

/*Основное содержимое сайта*/

.page-container {
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: -5px 0 10px -5px rgb(151 143 143 / 50%),
    5px 0 10px -5px rgb(151 143 143 / 50%);
}

.hero {
  position: relative;
  background-color: #a0b5ba;
  color: #000;
  background-image: url("../images/hero/hero-background.jpg");
  background-size: 1200px 485px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-greeting-text {
  padding-top: 51.4px;
  padding-bottom: 82.23px;
  display: block;
  margin: 0 auto;
}


.hero::after {
  content: "";
  position: absolute;
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../images/hero/dekor.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.description-title,
.advantages-title,
.appointment-title,
.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description-item-list,
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.description-item,
.advantages-item {
  display: flex;
  width: 230px;
  min-height: 385px;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
}

.description-item-picture {
  width: 800px;
  list-style-type: none;
  vertical-align: middle;
}

.town-picture {
  vertical-align: middle;
}

.description-container,
.advantages-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.description-container {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.description-title {
  margin: 0 auto 25px;
  width: 650px;
}

.advantages-title {
  margin: auto;
  width: 505px;
}

.description-text {
  margin: auto;
  width: 651px;
}

.advantages-text {
  margin: auto;
  margin-top: 20px;
  width: 490px;
}

.description-text,
.advantages-text,
.appointment-text,
.description-description,
.advantages-description {
  color: #333333;
}


.description-heading,
.advantages-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.description-item .description-heading::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 85px;
}

.description-item:nth-child(1) .description-heading::after,
.description-item:nth-child(7) .description-heading::after {
  background: rgba(255, 255, 255, 0.3);
}

.description-item:nth-child(3) .description-heading::after,
.description-item:nth-child(4) .description-heading::after,
.description-item:nth-child(5) .description-heading::after {
  background: rgba(0, 0, 0, 0.3);
}

.description-description,
.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.description-description {
  padding-top: 30px;
}

.blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.light-blue {
  background-color: rgb(131, 179, 211, 20%);
}

.rather-white {
  background-color: rgb(131, 179, 211, 12%);
  ;
}

.advantages-item::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1)::before {
  background-image: url("../images/advantages/house.svg");
}

.advantages-item:nth-child(2)::before {
  background-image: url("../images/advantages/burger.svg");
}

.advantages-item:nth-child(3)::before {
  background-image: url("../images/advantages/gift.svg");
}


.advantages-container {
  padding-top: 64px;
  padding-bottom: 64px;
}


/*Встреча*/
.appointment {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  justify-content: center;
}

.appointment-title {
  margin: 0 auto;
  margin-bottom: 20px;
}

.appointment-text {
  width: 592px;
  text-align: center;
  margin: 0 auto;
}


.appointment-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 54px;
  padding: 8px 50px;
  width: 276px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  align-items: center;
  border-radius: 4px;
}

.appointment-button:active {
  color: rgba(143, 136, 136, 0.3);
}

.appointment-button:hover {
  background-color: #615048;
}

.appointment-button:focus {
  background-color: #615048;
}

/*Подписочная*/
.subscription {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  justify-content: center;
  color: #ffffff;
  background-image: url(../images/subscribe-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
}

.subscription-title {
  width: 404px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscription-text {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-field {
  font-family: 'PT Sans', sans-serif;
}

.subscription-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
}

.subscription-field {
  width: 432px;
  border-width: 0;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

}

.subscription-button {
  padding: 8px 50px;
  width: 232px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 1);
}


/*Элементы подвальчика*/

.main-footer {
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: -5px 0 10px -5px rgb(151 143 143 / 50%),
    5px 0 10px -5px rgb(151 143 143 / 50%);
}

.socials {
  padding: 40px 70px 30px 70px;
  display: flex;
  min-width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.socials-site-list,
.socials-phone-list,
.socials-sorce-list {
  margin: 0;
  padding: 0;
}

.socials-site-list {
  margin: 0;
  padding: 0;
  width: 195px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socials-site-item {
  display: block;
  padding: 15px 13px;
}

.socials-icon {
  color: #83B3D3;
}

.socials-site-item:nth-child(3) {
  display: flex;
  align-self: center;
}


.socials-site-item:hover .socials-icon {
  color: #68a2ca;
}

.footer-socials-link:focus .socials-icon {
  color: #68a2ca;
}

.socials-site-item:active .socials-icon {
  color: rgba(104, 162, 202, 0.3);
}


.footer-socials-youtube {
  display: flex;
}

.socials-phone-list {
  justify-content: center;
  width: 720px;
  margin: auto;
  text-align: center;
  list-style-type: none;
}

.socials-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-right: 50px;
}

.socials-phone:hover {
  color: #756157;
}

.socials-phone:focus {
  color: #756157;
}

.socials-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.socials-sorce-list {
  list-style-type: none;
  align-self: center;
}

.footer-socials-sorce .sorce-icon {
  display: block;
  color: #000000;
}

.footer-socials-sorce:hover .sorce-icon {
  color: #756157;
}

.footer-socials-sorce:focus .sorce-icon {
  color: #756157;
}

.footer-socials-sorce:active .sorce-icon {
  color: rgba(117, 97, 87, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
